<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--<suite name="CalculatorTestSuite">-->
<!--    <test name="CalculatorTests">-->
<!--        <classes>-->
<!--            <class name="com.example.CalculatorTest"/>-->
<!--        </classes>-->
<suite name="Parallel Test Suite" parallel="tests" thread-count="2">
    <test name="Test1">
        <classes>
            <class name="com.example.CalculatorTest" />
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="com.example.Test2" />
        </classes>

    </test>
</suite>

